body {
    background:lavender;
    font-family:Arial, Helvetica, sans-serif;
}

.assignment {
    display: flex;
    padding:10px;
    margin:10px;
    background: lightgray;
    border-radius: 5px;
}
.assignment img {
    width: 200px;
    margin:10px;
    border: 2px solid purple;
}
.assignment img:hover{
    border:2px solid lightgray;
}
h1 {
    color:darkslateblue;
    text-align:center;
}
a {
    text-decoration: none ;
    color: purple;
}
a:hover {
color: white;
}